{% extends 'expenses/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block head_title%}
Transactions list 
{% endblock%}

{% block content %}
    <div id="transaction-block" >
        <div class="flex justify-start mb-4" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <h1> Transactions List </h1>
        </div>
        {%  include 'partials/Transactions_container.html'%}
    </div>
{% endblock content %}
